{% extends 'header.html' %}
{% block content %}
{% load static %}
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				
				<h6 class="mb-0 text-uppercase">Sub Category Table</h6>
				<h3 align="right"><a href="/inssubcat/">Insert</a></h3>
				<hr/>
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example2" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Sub Category ID</th>
										<th>Name</th>
                                        <th>Description</th>
                                        <th>Category Name</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for data in subcategory %}
									<tr>
										<td>{{data.sub_category_id}}</td>
										<td>{{data.sub_category_name}}</td>
                                        <td>{{data.description}}</td>
                                        <td>{{data.category_id.category_name}}</td>
										<td>
											<a href="/delete_sub_category/{{data.sub_category_id}}">
												<img alt="delete logo" 
												src="{% static 'assets\trash.png' %}"
												type="image/png" width="20px" height="20px">
											</a>
											<a href="/updatesubcat/{{data.sub_category_id}}">
												<img alt="update logo" 
												src="{% static 'assets/update.png' %}"
												type="image/png" width="20px" height="20px">
											</a>
										</td>
									</tr>
									{% endfor %}
								
								</tbody>
								<tfoot>

								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->
{% endblock %}
