{% extends "c_header.html" %} {% block content %} {% load static %}
<!-- breadcrumb-area -->
<div class="banner-area breadcrumb-area padding-top-120 padding-bottom-90">
  <div class="bread-shapes">
    <span class="b-shape-1 item-bounce"><img src="{% static 'assets/images/img/5.png '%}" alt="" /></span>
    <span class="b-shape-2"><img src="{% static 'assets/images/img/6.png '%}" alt="" /></span>
    <span class="b-shape-3"><img src="{% static 'assets/images/img/7.png '%}" alt="" /></span>
    <span class="b-shape-4"><img src="{% static 'assets/images/img/9.png '%}" alt="" /></span>
    <span class="b-shape-5"><img src=" {% static 'assets/images/shapes/18.png '%}" alt="" /></span>
    <span class="b-shape-6 item-animateOne"><img src="{% static 'assets/images/img/7.png '%}" alt="" /></span>
  </div>
  <div class="container padding-top-120">
    <div class="row justify-content-center">
      <nav aria-label="breadcrumb">
        <h2 class="page-title">Single Product</h2>
        <!-- <ol class="breadcrumb text-center">
          <li class="breadcrumb-item">
            <a href="index.html">Home </a> /
            <a href="index.html"> food shop</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Chicken Fry Recipe
          </li>
        </ol> -->
      </nav>
    </div>
  </div>
</div>

<!-- chicken-recipe-area -->
<section class="chicken-recipe-area padding-top-115 padding-bottom-80">
  <div class="recipe-shapes">
    <span class="rs1"><img src="{% static 'assets/images/shapes/12.png '%}" alt="" /></span>
    <span class="rs2"><img src="{% static 'assets/images/shapes/13.png '%}" alt="" /></span>
    <span class="rs3"><img src="{% static 'assets/images/shapes/26.png '%}" alt="" /></span>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 margin-bottom-30 wow fadeInLeft">
        <div class="recipe-left">
          <div class="slider-for">
            <div class="single-slide">
              <div class="product-content">
                <img
                class="mp"
                src="/static/assets/images/product_image/{{product.product_image}}"
                alt="product image"
                style="height: 500px; width: 500px"
              />
                <!-- <img class="pbadge" src="{% static 'assets/images/icons/pbadge.png '%}" alt="" /> -->
              </div>
            </div>
            <div class="single-slide">
              <div class="product-content">
                <img class="mp" src="{% static 'assets/images/img/br1.png '%}" alt="" />
                <img class="pbadge" src="{% static 'assets/images/icons/pbadge.png '%}" alt="" />
              </div>
            </div>
            <div class="single-slide">
              <div class="product-content">
                <img class="mp" src="{% static 'assets/images/img/br1.png '%}" alt="" />
                <img class="pbadge" src="{% static 'assets/images/icons/pbadge.png '%}" alt="" />
              </div>
            </div>
          </div>

          <!-- <div class="slider-nav margin-top-30">
            <div class="div">
              <div class="pnav">
                <img src="{% static 'assets/images/img/br3.png '%}" alt="" />
              </div>
            </div>
            <div class="div">
              <div class="pnav">
                <img src="{% static 'assets/images/img/br2.png '%}" alt="" />
              </div>
            </div>
            <div class="div">
              <div class="pnav">
                <img src="{% static 'assets/images/img/br3.png '%}" alt="" />
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight">
        <div class="recipe-right">
          <form method="post" action="/client/shopping_cart/">
            {% csrf_token %}
            <h2>{{product.product_name}}</h2>
            <input type="hidden" name="p_id" value="{{product.product_id}}">
            <div class="chickens-inforbar d-flex justify-content-around align-items-center">
              <input type="hidden" name="price" value="{{product.product_price}}">
              {% if request.session.subscription %}
              <span class="cp"> Price : $ {{product.product_price}}-- 10 % discount  </span>
              {% else %}
              <span class="cp"> Price : $ {{product.product_price}}</span>
              {% endif %}   
              <!-- <span>
                <span class="colored"><i class="fas fa-comments"></i></span>
                comment</span>
              <span>
                <span class="colored"><i class="fas fa-heart"></i></span>
                200+ like</span> -->
            </div>
            <p>
             {{product.product_desc|slice:":100"}}
            </p>
            <div class="chickens-details d-flex justify-content-between">
              <span>Quantity : <input name="qty" type="number" placeholder="01" /></span>
              <!-- <span>
                <label for="size">size</label>
                <select name="#" id="size">
                  <option value="#">XI</option>
                  <option value="#">XI</option>
                  <option value="#">XI</option>
                  <option value="#">XI</option>
                </select>
              </span> -->
              <!-- <span>
                <label for="stock">Available stock</label>
                <input id="stock" type="number"  placeholder="60" />
              </span> -->
            </div>
            <!-- <div class="chickens-meta">
              <ul class="d-flex justify-content-between">
                <li>Tag : SKU: <span>Food-Collections</span></li>
                <li>Category: <span>Recipe</span></li>
              </ul>
            </div> -->
            <button type="submit" class="btn" href="/client/shopping_cart/">Add to cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product-description -->
<section class="product-des-area">
  <div class="pdes-shapes">
    <span class="pds1"><img src="{% static 'assets/images/img/32.png '%}" alt="" /></span>
    <span class="pds2"><img src="{% static 'assets/images/shapes/7.png '%}" alt="" /></span>
  </div>
  <div class="container">
    <div class="product-des-nav margin-bottom-30">
      <ul class="nav" id="productDesTab" role="tablist">
        <li class="nav-item" role="presentation">
          <div class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" role="tab"
            aria-controls="des" aria-selected="true">
            Description
          </div>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <div class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" role="tab"
            aria-controls="reviews" aria-selected="false">
            Reviews
          </div>
        </li> -->
      </ul>
    </div>
    <div class="product-des-content">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="des" role="tabpanel" aria-labelledby="info-tab">
          <div class="pd-inner-content">
            <div class="pd-shapes">
              <span class="pds1"><img src="{% static 'assets/images/shapes/17.png '%}" alt="" /></span>
              <span class="pds2"><img src="{% static 'assets/images/shapes/7.png '%}" alt="" /></span>
              <span class="pds3"><img src="{% static 'assets/images/shapes/28.png '%}" alt="" /></span>
            </div>

            <p>
              {{product.product_desc}}
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>

<!-- related-product -->
<div class="related-product padding-top-115 padding-bottom-100">
  <div class="related-shapes">
    <span class="rs1"><img src="{% static 'assets/images/shapes/16.png '%}" alt="" /></span>
  </div>
  <div class="container wow fadeInUp">
    <h3>Latest <span>product</span></h3>
    <div class="related-product-inner">
      <div class="row">
        {% for data in sp %}
        <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".2s">
          <div class="single-dishes">
            <div class="dish-img">
              <img src="/static/assets/images/product_image/{{data.product_image}}" style="height: 100px" alt="{{data.product_name}}" />
            </div>
            <div class="dish-content">
              <h5><a href="/client/single_shop/{{data.product_id}}"
                value="{{data.product_id}}">{{data.product_name}}</a></h5>
              <p>
                {{product.product_desc|slice:":100"}}
              </p>
            </div>
               
            <!-- <span class="badge">hot</span> -->
            <div class="cart-opt">
              <!-- <span>
                <a href="shopping-cart.html"><i class="fas fa-shopping-basket"></i></a>
              </span> -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}